.top-bar {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.icon-section {
    display: flex;
    flex-direction: row;
}

.title-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 60px;
}

.icon-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.icon-button:hover {
    color: #555;
}

.icon-text {
    font-size: 10px;
    font-family: 'Pompiere'
}

.title-text {
    font-size: 48px;
    font-family: 'Playfair Display';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user-text {
    font-size: 14px;
    font-family: 'Pompiere';
}

.separator {
    width: 1px;
    height: 40px;
    background-color: #BBB;
}