@page "/login"

<div class="outer-panel">
    <!-- Not Authorized -->
    <AuthorizeView>
        <NotAuthorized>
            <!-- Title and Text -->
            <span class="large-text">Log på</span>
            <span class="small-text">Opret bruger eller log på for at handle.</span>

            <!-- Email and Password -->
            <input class="input-field" placeholder="Email" @bind="email"/>
            <input class="input-field" placeholder="Adgangskode" type="password" @bind="password"/>

            <!-- Error Message -->
            <div class="error-panel">
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <span class="error-icon">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </span>
                    <span class="error-text">@errorMessage</span>
                }
            </div>

            <!-- Login Button -->
            <button class="login-button" @onclick="HandleLogin">
                Log på
            </button>
        </NotAuthorized>
    </AuthorizeView>
</div>